// Color
$color-primary: #4F4F4F;
$color-second: #FF4F41;
$color-title: #000000;
$color-hover: #FF4F41;

// Background
$background-primary: #FF4F41;
$background-hover: #000000;

// Border color
$border-color: #FF4F41;